@font-face {
	font-family: 'GrotesqueMTStd';
	src: url('../fonts/2E6A7A_0_0.eot');
	src: url('../fonts/2E6A7A_0_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/2E6A7A_0_0.woff2') format('woff2'),
	url('../fonts/2E6A7A_0_0.woff') format('woff'),
	url('../fonts/2E6A7A_0_0.ttf') format('truetype');
  font-weight:  normal;
  font-style:   normal;
  font-stretch: normal;
}
@font-face {
	font-family: 'GrotesqueMTStd-BoldExtended';
	src: url('../fonts/2E6A7A_1_0.eot');
	src: url('../fonts/2E6A7A_1_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/2E6A7A_1_0.woff2') format('woff2'),
	url('../fonts/2E6A7A_1_0.woff') format('woff'),
	url('../fonts/2E6A7A_1_0.ttf') format('truetype');
  font-weight:  normal;
  font-style:   normal;
  font-stretch: normal;
}
 