*{
	box-sizing: border-box;
	-webkit-font-smoothing: subpixel-antialiased;
	outline: none;
}
html, body{
	font-family: 'GrotesqueMTStd';
	line-height: (26 / 20);
	color: $charcoal;
	background: $steel-grey;
	letter-spacing: 0.03em;
	font-size: 18px;
	@include breakpoint(medium){
		font-size: 20px;
	}
}
.wrap.container{
	padding-top: $header-height;
	@include breakpoint(medium){
		padding-top: $header-height-desktop;
	}
	body.blur &{
		position: relative;
		filter: blur(20px);
	}
}
a{
	text-decoration: none;
	color: white;
}
p{
	@include body-font;
	margin-bottom: $site-pad-half;
	@include breakpoint(medium){
		margin-bottom: $site-pad;
	}
}
input{
	font-family: inherit;
	letter-spacing: inherit;
}
.portrait{
	background-position: center center;
	background-size: cover;
	border-radius: 50% 50%;
}
.page-upper{
	@include site-wrap;
	h1{
		padding-left: 0;
		padding-right: 0;
	}
}
.white{
	color: white;
}
select,
input[type=text],
input[type=email]{
	@include body-font;
	display: block;
	font-family: inherit;
	width: 100%;
	background: transparent;
	border: 3px solid $charcoal;
	color: $charcoal;
	transition: .25s background-color;
	border-radius: 0;
	&:focus{
		background-color: white;
	}
}
select,
input[type=email],
input[type=text],
input[type=submit]{
	-webkit-appearance: none;
	line-height: 1rem;
	padding: 0 $site-pad-half * 0.8;
	height: $header-height;
	line-height: $header-height;
	&::-webkit-input-placeholder { /* WebKit browsers */
	  color:    $charcoal;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    $charcoal;
    opacity:  1;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    $charcoal;
    opacity:  1;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10+ */
	  color:    $charcoal;
	}
}
.signup-modal{
	@include modal;
	position: absolute;
	background: $silver;
	max-width: 100%;
	top: $header-height;
	left: 0;
	width: 100%;
	min-height: 100%;
	transform: none;
	input[type=submit]{
		@include button($silver, $charcoal);
		margin-bottom: 0;
		height: auto;
	}
	> h1{
		margin-bottom: $site-pad-half - 0.45rem;
	}
	> p{
		margin-bottom: $site-pad-half;
	}
	form > p{
		margin-bottom: 0;
	}
	.wpcf7-form-control-wrap{
		display: block;
		position: relative;
		padding-right: 5rem;	
		.indicator{
			content: '';
			display: block;
			position: absolute;
			height: $header-height;
			width: $header-height;
			line-height: $header-height;
			top: 0;
			right: 0;
			border: 3px solid $charcoal;
			border-radius: 50%;
			background-color: transparent;
			transition: background-color .25s;
			&:after{
				content: '';
				display: block;
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 5;
				background-image: url(../images/checkmark.svg);
				background-repeat: no-repeat;
				background-size: 1.75rem;
				background-position: center center;
				transition: opacity .25s;
			}
			&.on{
				background-color: $lime-green;
				&:after{
					opacity: 1;
				}
			}
		}
	}
	select,
	input[type=text],
	input[type=email]{
		display: block;
		position: relative;
	}
	.wpcf7-response-output, .wpcf7-not-valid-tip{
		display: none !important;
	}
	@include breakpoint(medium){
		position: absolute;
		top: $header-height * 2;
		left: 50%;
		height: auto;
		max-width: 600px;
		min-height: 0;
		transform: translate(-50%, 0);
	}
}
.four04{
	@include site-wrap;	
}