$charcoal: #353230;
$light-charcoal: lighten($charcoal, 25%);
$bright-orange: #FF6633;
$deep-yellow: #FEC10D;
$steel-grey: #B3B1B1;
$silver: #E3E3E5;
$lime-green: #c5ff2d;

$content-width: 45rem;
$modal-width: 36.6rem;
$site-pad: 1.9rem;
$site-pad-half: 1.1rem;
$site-pad-quarter: $site-pad-half / 2;
$header-height: 3.6rem;
$header-line-height: 3.9rem;
$header-height-desktop: 3.6rem * 0.95;