.blog.page{
	padding-bottom: $site-pad;
	.blog-posts{
		@include plain-accordion;
		time{
			@include small-caps;
			display: block;
			margin-top: $site-pad-half;
			@include breakpoint(medium){
				margin-bottom: 0;
				margin-top: $site-pad;
			}
		}
		.section{
			h2{
				height: auto !important;
				padding-top: $site-pad-half;
				padding-right: 4rem !important;
				margin-bottom: 0;
			}
		}
		.external{
			@include trigger;
			transform: none;
			cursor: default;
			background: url(../images/external.svg) no-repeat center center;
		}
	}
}

.post.type-post{
	@include site-wrap;
	.entry-title{
		@include h1;
		margin: .5em 0;
	}
	.back{
		display: block;
		margin: 2em 0;
	}
	.updated{
		display: block;
		margin-bottom: 1em;
		@include small-caps;
	}
	figure{
		display: block;
		margin-bottom: 1em;
	}
	img{
		display: block;
		width: auto;
		max-width: 100%;
		margin: 0 auto;
	}
	figure{
		p{
			margin: .5em;
		}
	}
	figcaption{
		text-align: center;
		color: #666;
		font-size: .75em;
		margin-bottom: 1em;
	}
	.blog-nav{
		@include clearfix;
		padding: 1em 0 2em;
		p{
			width: 50%;
			&:first-child{
				float: left;
			}
			&:last-child{
				float: right;
				text-align: right;
			}
		}
		span{
			@include small-caps;
		}
	}
}