.page.training{
	.programs{
		@include image-accordion;
	  button{
	    @include button($deep-yellow, $charcoal, true);
	  }
	  .plan{
	  	position: relative;
	  	border-color: $bright-orange;
	  	color: $bright-orange;
	  	border-left: 0;
	  	margin-left: 2rem;
	  	cursor: default;
	  	&:hover{
	  		background-color: transparent;
	  		color: $bright-orange;
	  	}
	  	&:before{
	  		content: '';
	  		display: block;
	  		position: absolute;
	  		top: -3px;
	  		left: 0;
	  		bottom: -3px;
	  		width: 70px;
	  		margin-left: -47px;
	  		background-image: url(../images/pricetag2.svg);
	  		background-size: 100% 100%;
	  		background-position: right center;
	  		background-repeat: no-repeat;
	  	}
	  	/* 
	  	&:before, &:after{
	  		content: '';
	  		display: block;
	  		position: absolute;
		    border: 3px solid $bright-orange;
	  	}
	  	&:before{
	  		top: -.125rem;
			  left: -1.5rem;
			  width: 2.425rem;
			  height: 2.425rem;
		    border-top-left-radius: 100%;
		    border-top-right-radius: 100%;
		    border-bottom: 0;
		    transform: rotate(-90deg);
		    @include breakpoint(medium){
		  		top: -.1rem;
		  		left: -1.5rem;
				  width: 2.65rem;
				  height: 2.65rem;
		    }
	  	}
	  	&:after{
	  		height: .25rem;
	  		width: .25rem;
	  		top: 50%;
	  		left: -.5rem;
	  		border-radius: 50%;
	  		transform: translateY(-50%);
	  	} */
	  	span{
	  		display: inline-block;
	  	}
	  	.dollar, .from{
	  		text-align: left;
	  		font-family: 'GrotesqueMTStd-BoldExtended';
	  		font-size: .5rem;
	  		line-height: 1;
	  	}
	  	.from{
	  		position: relative;
	  		top: -3px;
	  	}
	  }
	}
}